html, body {
  height: 100%;
  width: 100%;
  font-size: 15px;
}
footer {
        background-color: #33E9FF;
      }
nav {
        background-color: #FFF933;
      }

figcaption {
  color: #C2C2C2;
  font-style: italic;
}
.parrafo {
  color: #33E;
}
section#portfolio > h2 {
  color: blue
}
nav > a hover  {
  color: red
}